*{
    margin: 0;
    padding: 0;
}
body{
    /* background: url('bg.jpeg');
    background-size: cover; */
    overflow: hidden;
}
.taskbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 50px;
    z-index: 110;
}
.right{
    position: absolute;
    right: 0;
}
.menu{
    position: absolute;
    bottom: -640px;
    width: 100%;
    text-align: center;
    height: 690px;
    transition: all 0.3s;
}